---
title: "Present your app and usability test results"
published: false
morea_id: experience-present-test-results
morea_summary: "Present the results of your usability test"
morea_type: experience
morea_sort_order: 1
morea_labels:
---

# Present your app and usability test results

For the last day of class, please prepare an 6 minute presentation on the current version of your app and the current state of your usability evaluation. This presentation should roughly consist of four 1.5 minute segments:

1. Demo of the *important* currently implemented features of your app (don't spend time on login, registration, etc.). Focus on the unique value added capabilities of your app. Tell us where it is deployed (if it is deployed).

2. Description of your usability test design.  What are the scenarios? What are the user types? How did you (or are planning to) recruit them? (You must have completed the *design* by the time of this presentation.)

3. Description of your usability test results so far. Who has participated? What is the raw data? What are the results so far? 

4. What's going to happen between now and the final project submission? Are you planning to develop the app further? If so, what are you hoping to add? Are you planning to do further usability evaluation? If so, what do you plan to do? (If you are finished right now, that's great!)

You can and should use your project site to present as much of this information as possible. The project site is going to be the main long-term product of this class, so making it as complete and descriptive as possible is a good use of your time.  

That said, if you want, you can create screen shots for Part (1) and put them into the Google Slide document.

All members of the group must be present and participate in this presentation.

## Submission Instructions

Due in class on the last day of class.  Philip will evaluate your presentation and enter the grade into Laulima. To receive full credit, you must have: (a) a polished and high quality presentation; (b) a functional app and a completed usability test design, and (c) have started, or are very close to starting, the usability test.  You do not need to have completed app development or usability testing in order to receive full credit for this experience.
